{% macro card(title, date, teaser, imageUrl, postUrl, format) %}
<div class="border-gray-400 border-2 border-opacity-25 rounded-md shadow-md p-8">
    <h2><a href="{{ postUrl }}">{{ title }}</a></h2>
    <h3>{{ date }}</h2>
    <p>{{ teaser }}</p>
    <img src="{{ imageUrl }}" alt="{{ title }}">
</div>
{% endmacro %}