{% macro card(title, date, teaser, imageUrl, postUrl, format) %}
<div>
    <h2><a href="{{ postUrl }}">{{ title }}</a></h2>
    <h3>{{ date }}</h2>
    <p>{{ teaser }}</p>
    <img src="{{ imageUrl }}" alt="{{ title }}">
</div>
{% endmacro %}