<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="/styles.css"/>

    {% if fluffybunnyadventures.production %}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.2.0/turbolinks.js" integrity="sha512-G3jAqT2eM4MMkLMyQR5YBhvN5/Da3IG6kqgYqU9zlIH4+2a+GuMdLb5Kpxy6ItMdCfgaKlo2XFhI0dHtMJjoRw==" crossorigin="anonymous"></script>
    {% endif %}  

    <title>fluffy bunny adventures</title>
  </head>
  <body>
    {% include "header.njk" %}
    <div class="max-w-screen-xl ml-auto mr-auto">
    {{ content | safe }}
    </div>
    {% include "footer.njk" %}
  </body>
</html>