---
layout: layout.njk
---

{% from "card.njk" import card %}

<ul>
{%- for post in collections.posts -%}
<li>{{ card(post.data.title, post.date, post.data.teaser, post.data.image, post.url, '') }}
{%- endfor -%}
</ul>
